### Lombok 配置文件 ###
# 防止 Lombok 在父级目录中搜索配置文件，可用如下配置指定 Lombok 根目录
config.stopBubbling = true
# 开启链式调用
lombok.accessors.chain=true
# 调用 equals() 和 hashcode() 方法时，也会调用 super.equals() 和 super.hashcode() 方法
lombok.equalsandhashcode.callsuper=CALL
# 调用 toString() 方法时，也会调用 super.toString() 方法
lombok.tostring.callsuper=CALL
